.controls {
  margin: 10px 0px;
}
.imagePortrait {
  /* height: auto;
  width: auto; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box:focus {
  border: 1px solid rgb(223, 70, 70);
}

.boxNotActive:hover,
.box:hover {
  cursor: pointer;
}

.box:active {
  /* border: 1px solid rgb(17, 0, 255); */
}

.boxNotActive,
.box {
  border: 3px solid rgb(0, 0, 0);
}

.circle {
  border-radius: 50%;
}
.point {
  background-color: rgb(0, 0, 0);
}

.boxResize {
  position: absolute;
  background-color: red;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}

.resizer-right {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

.details {
  border: 1px solid pink;
}

#popover {
  display: none;
  margin-top: 10px;
  z-index: 1;
}

#container {
  position: absolute;
}

.fa-xmark {
  position: absolute;
  top: 0;
  right: 0px;
  margin: 10px;
  cursor: pointer;
}
.fa-xmark:hover {
  color: #0d6efd;
}

.all-list {
  border: 1px solid red;
}
