.controls {
  margin: 10px 0px;
}
.imagePortrait {
  height: auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box {
  border: 3px solid red;
}
.boxNotActive {
  border: 3px solid red;
}
.circle {
  border-radius: 50%;
}
.box .boxNumber {
  display: none;
}
.boxNotActive .boxNumber {
  position: relative;
  background-color: blue;
  color: white;
  font-weight: bold;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 3px solid white;
  line-height: 34px;
  top: -15px;
  left: -15px;
  cursor: move;
}
.boxResize {
  position: absolute;
  background-color: red;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}

.resizer-right {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}
