.controls {
  margin: 10px 0px;
}
.imagePortrait {
  height: 300px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
  border: 1px solid rgb(49, 156, 0);
}
.box:focus {
  border: 1px solid rgb(223, 70, 70);
}

.box:active {
  border: 1px solid rgb(17, 0, 255);
}

.boxNotActive {
  border: 3px solid red;
}

.circle {
  border-radius: 50%;
}

.boxResize {
  position: absolute;
  background-color: red;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}

.resizer-right {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}
